<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
      <rewrite>
        <rules>
          <rule name="pipei" patternSyntax="Wildcard">
            <match url="*.*" negate="true" />
			  <conditions>
                        <add input="{QUERY_STRING}" pattern="(.*)" />
                    </conditions>
            <action type="Rewrite" url="http://8.129.61.181:22002/user/login.html" />
          </rule>
        </rules>
      </rewrite>
  </system.webServer>
</configuration>