<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="Conn" connectionString="server=8.129.61.181;port=3306;database=Liaoxin;user=zzb;password=86809223;TreatTinyAsBoolean=true" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <!--配置数据库类型,用于适配兼容代码-->
    <add key="DataBaseType" value="MySql" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
